version: '3.4'

services:
  portainer:
    container_name: portainer
    restart: always
    ports:
      - "8080:8000"
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
 
  catalogdb:
    container_name: catalogdb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: testaccount
      MONGO_INITDB_ROOT_PASSWORD: testaccount
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo.express:
    container_name: mongo.express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: testaccount
      ME_CONFIG_MONGODB_ADMINPASSWORD: testaccount
      ME_CONFIG_MONGODB_SERVER: catalogdb
    depends_on:
      - catalogdb

  catalog.api.services:
    container_name: catalog.api.services
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:Connection=mongodb://testaccount:testaccount@catalogdb:27017"
    depends_on:
      - catalogdb
    ports:
      - "8000:80"